@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  text-align: center;
  vertical-align: middle;
  font-family: "Sour Gummy", sans-serif;
  color: #f4eedb;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  background: #6a91ab;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100svh;
  padding: 2%;
  align-items: center;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  font-family: "Sour Gummy", sans-serif;
  color: #f4eedb;
  font-size: 3em;
}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.info div {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info div span {
  margin-left: 8px;
}

.board {
  grid-template-columns: repeat(var(--columns), minmax(0, 80px));
  align-self: flex-start;
  display: grid;
  margin: 0 auto;
  flex: 0 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 16px;
  background-color: #f4eedb;
  border: 8px solid #202b55;
  border-radius: 24px;
  width: fit-content;
  grid-auto-rows: 1fr;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border: 2px solid #202b55;
  background-color: #f4eedb;
  cursor: pointer;
  font-family: "Sour Gummy", sans-serif;
  font-size: 1.5rem;
}

.left {
  border-left: 4px solid #202b55;
}

.right {
  border-right: 4px solid #202b55;
}

.top {
  border-top: 4px solid #202b55;
}

.bottom {
  border-bottom: 4px solid #202b55;
}

.close {
  background-color: #6a91ab;
  color: white;
  font-weight: bold;
}

.empty {
  background-color: #b0cdda;
}

input {
  color: #202b55;
  outline: none;
  width: 64px;
  height: 32px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #f4eedb;
}

#newGame {
  cursor: pointer;
  display: block;
  width: 300px;
  font-size: 20px;
  border: 4px solid #202b55;
  background-color: #202b55;
  border-radius: 12px;
  color: #f4eedb;
}

.boardSizeBox {
  margin: 8px 0 4px 0;
}

#mines {
  background: none;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f4eedb;
  height: 30px;
  width: 30px;
}

@media (max-width: 900px) {
  .info div,
  #newGame,
  input,
  form > div {
    font-size: 18px;
  }
  h1 {
    font-size: 2.7rem;
  }
  .field {
    font-size: 1rem;
  }
  .board {
    grid-template-columns: repeat(var(--columns), minmax(0, 50px));
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 660px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}
